/ page title
- @title="CAMPEIGHT - Find Your Next Basecamp"
/ page body
= link_to 'New Campground', new_campground_path, :class => 'button p1 m1'
%br/
.p1
  = search_form_for @search, url: search_campgrounds_path, method: :post do |f|
    = f.label :name_cont, "Name:", :class => "bold"
    = f.search_field :name_cont, :class => "field-light"
    &nbsp;&nbsp;
    = f.label :state, "State:", :class => "bold"
    = f.select(:state_cont, ["","California","Oregon"], {}, :class => "field-light")
    = f.submit "Search"
%h1.p1 Campground List
%table.p1
  %tr
    %th ID
    %th Name
    %th State
    %th{:colspan => "1"}
  - @campgrounds.each do |campground|
    %tr
      %td= campground.id
      %td= campground.name
      %td= campground.state
      %td
        = link_to '', campground_path(campground), :class => 'fa fa-eye dark-gray grow', :title => 'View'
        &nbsp;
        = link_to '', edit_campground_path(campground), :class => 'fa fa-pencil-square-o dark-gray grow', :title => 'Edit'
        &nbsp;
        = link_to '', campground_path(campground), method: :delete, data: { confirm: 'Delete Record: Are you sure?' }, :class => 'fa fa-times dark-gray grow', :title => 'Delete'