/ page title
- @title="CAMPEIGHT - Find Your Next Basecamp"
/ page body
.p0.m0.index-bg-image.bg-cover.bg-bottom.height-500.border-bottom.relative.full-width
  .clearfix.bg-trans.dark-gray.px1.border-bottom.fixed.full-width.z4
    .col.col-6.left-align.max-width-main.full-width.absolute-center.title-font
      %i.fa.fa-fire>
      CAMP
      %span.red> EIGHT
    .col-right.col-6.right-align
      .button.button-transparent.red.p1{:href => "#", :title => "register free!"}
        Register Free!
      .button.m1.p1.mr2{:href => "#", :title => "log in"}
        Log In
  .absolute.bottom-0.right-0
    .mb3.ml3
      %a.white{:href => "#", :title => "i've been here!"}
        %i.fa.fa-map-marker.fa-2x.grow
      &nbsp;
      %a.white.mr2{:href => "#", :title => "favorite!"}
        %i.fa.fa-heartbeat.fa-2x.grow
  .white.max-width-main.full-width
    .col.col-9.left-align.bottom-0.absolute.mb3.ml1
      .h5.caps
        = [@campground.state, " | ",@campground.region2].join("")
      .h1.bold
        = @campground.name
      .italic.h5
        = ["N",format('%.4f',@campground.lat).chop, ", ","W",format('%.4f',@campground.lon.abs).chop].join("")
        &nbsp;
        = ["Elevation: ",number_with_delimiter(@campground.elevation,:delimiter => ',') ," ft"].join("")
    .col-right.col-3.right-align.mt4.mr2
      %br/
      %i.fa.fa-square.fa-5x
      %br/
      %i.fa.fa-square.fa-5x
      %br/
      %i.fa.fa-square.fa-5x
      %br/
      %i.fa.fa-square.fa-5x
      %br/
  .bg-trans.dark-gray.h3.absolute.bottom-0.full-width
    .col.col-6.left-align.max-width-main.full-width.absolute-center
      %a.dark-gray.ml1{:href => "#", :title => "we tweet!"}
        %i.fa.fa-twitter.grow
      &nbsp;
      %a.dark-gray{:href => "#", :title => "we instagram!"}
        %i.fa.fa-instagram.grow
      &nbsp;
      %a.dark-gray{:href => "#", :title => "we pinterest!"}
        %i.fa.fa-pinterest-p.grow
    .col-right.col-6.right-align
%br/
.clearfix.m2.max-width-main.absolute-center.center
  .flex-block-3.center
    %i.fa.fa-search.fa-3x.dark-gray
    %br/
    .h3
      SEARCH
    .h5.justify.p2.mt0
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate tempor risus quis congue. Etiam consectetur metus sit amet erat efficitur, non dignissim enim luctus. Aliquam vitae tellus tristique, porta libero in, pretium ipsum. Phasellus odio leo, molestie in lorem id, ornare eleifend felis. Maecenas magna quam, convallis id vestibulum nec, venenatis at mauris. Maecenas eu massa a diam sagittis interdum non in velit. Donec eget nibh sit amet orci ultricies malesuada ac at ex.
  .flex-block-3.center
    %i.fa.fa-calendar.fa-3x.dark-gray
    %br/
    .h3
      BOOK
    .h5.justify.p2.mt0
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate tempor risus quis congue. Etiam consectetur metus sit amet erat efficitur, non dignissim enim luctus. Aliquam vitae tellus tristique, porta libero in, pretium ipsum. Phasellus odio leo, molestie in lorem id, ornare eleifend felis. Maecenas magna quam, convallis id vestibulum nec, venenatis at mauris. Maecenas eu massa a diam sagittis interdum non in velit. Donec eget nibh sit amet orci ultricies malesuada ac at ex.
  .flex-block-3.center
    %i.fa.fa-pencil-square-o.fa-3x.dark-gray
    %br/
    .h3
      ORGANIZE
    .h5.justify.p2.mt0
      Organize your adventure for yourself or collaborate with your group using built-in tools such as checklists, ...
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate tempor risus quis congue. Etiam consectetur metus sit amet erat efficitur, non dignissim enim luctus. Aliquam vitae tellus tristique, porta libero in, pretium ipsum. Phasellus odio leo, molestie in lorem id, ornare eleifend felis. Maecenas magna quam, convallis id vestibulum nec, venenatis at mauris. Maecenas eu massa a diam sagittis interdum non in velit. Donec eget nibh sit amet orci ultricies malesuada ac at ex.
%br/
%br/
#map.map-width{:style => "width: 100%"}
%br/
%br/
/ Footer
/= render partial: "footer"


= link_to 'Back', campgrounds_path, :class => 'button p1 m1'
= link_to 'Edit', edit_campground_path(@campground)

%p
  %strong Campground:
  = @campground.name
%p
  %strong State:
  = @campground.state